# Local Go Env
go_env/

# Rust
target/
Cargo.lock

# Go
nexus-daemon/vendor/

# Node / Tauri
nexus-gui/node_modules/
nexus-gui/dist/
nexus-gui/src-tauri/target/

# Tauri Binaries & Sidecars
nexus-gui/src-tauri/bin/nexus-daemon*
nexus-gui/src-tauri/bin/*.so
nexus-gui/src-tauri/bin/*.json
nexus-gui/src-tauri/bin/nexus.db

# SQLite
*.db
*.db-shm
*.db-wal

# Keys / secrets
*.key
*.pem
.env
client_secret.json
